# ignore all egg-info dirs
__pycache__/
*.egg-info/
.flake8

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/
*.egg
*.whl

# Test / coverage
.pytest_cache/
.coverage
.coverage.*

# Logs
*.log

